# Unit-5️⃣ Mutable data structure

### list

* List is dynamic because based on our requirement we can increase or decrease the size
* square brackets with comma separation

### Creation of list

* l=[]
* l=[1,2,3,4]
* l=eval(input("Enter list: "))

In [5]:
l=eval(input("Enter list: "))
print(l)

l=eval(input("Enter tuple: "))
print(l)

l=eval(input("Enter set: "))
print(l)

Enter list: 1,2,3,4,5
(1, 2, 3, 4, 5)
Enter tuple: [1,2,3,4,5]
[1, 2, 3, 4, 5]
Enter set: {1,2,3,4,5}
{1, 2, 3, 4, 5}

<h2><u> Important function of List.</u></h2>

<h3>1. len()

In [6]:
n=[1,2,3,4]
print(len(n))

4

<h3>2. count()

n=[1,2,2,3,3,3]
print(n.count(2))
print(n.count(4))

<h3>3. index()

In [10]:
n=[1,2,2,3,3,3]
print(n.index(1))
print(n.index(3))
# print(n.index(5)) ValueError: 5 is not in list

0
3

<h3>4. append()

In [13]:
l=["M","N"]
l.append("A")
l.append("B")
l.append("C")
print(l)

['M', 'N', 'A', 'B', 'C']

<h3>5. insert()

In [26]:
l=[1,2,3,4,5]
l.insert(1,28)
l.insert(10,5) # value >len(l) then it will work as append
l.insert(-1,25) #-1 will append at second last index
print(l)

l=["M","N"]
l.insert(0,"A")
l.insert(15,"B")
l.insert(-1,"C") #-1 will append at second last index
print(l)

[1, 28, 2, 3, 4, 5, 25, 5]
['A', 'M', 'N', 'C', 'B']

<h3>6. extend()

In [29]:
l1=["Apple","Mango"]
l2=["Orange","watermelon"]

l1.extend(l2)
l2.extend(l1)
print(l1)
print(l2)

['Apple', 'Mango', 'Orange', 'watermelon']
['Orange', 'watermelon', 'Apple', 'Mango', 'Orange', 'watermelon']

<h3>7. remove()

In [32]:
n=[1,2,1,3,1,1]
n.remove(1)
print(n)

# n.remove(4)
# print(n) ValueError: list.remove(x): x not in list

[2, 1, 3, 1, 1]

<h3>8. pop()

In [6]:
n=[10,20,30,40,50]
print(n.pop())
print(n.pop())
print(n)

y=[]
# print(y.pop())IndexError: pop from empty list

n=[10,20,30,40,50]
print(n.pop())
print(n.pop(1))
print(n)
# print(n.pop(10)) IndexError: pop index out of range

50
40
[10, 20, 30]
50
20
[10, 30, 40]

<h3>9. clear()

In [8]:
n=[10,20,30,40,50]
n.clear()
print(n)

[]

<h3>10. sort()

In [17]:
n=[2,5,1,15,0]
n.sort()
print(n)

n=["D","A","B","C"]
n.sort()
print(n)

# n=[12,20,50,"D","A","B","C"] TypeError: '<' not supported between instances of 'int' and 'str'
# n.sort()
# print(n)

[0, 1, 2, 5, 15]
['A', 'B', 'C', 'D']

<h3>11. reverse()

In [13]:
n=[2,5,1,15,0]
n.sort()
print(n)
n.sort(reverse=True)
print(n)

n=["D","A","B","C"]
n.sort()
print(n)
n.sort(reverse=True)
print(n)

# n=[12,20,50,"D","A","B","C"] TypeError: '<' not supported between instances of 'int' and 'str'
# n.sort(reverse=True)
# print(n)

[0, 1, 2, 5, 15]
[15, 5, 2, 1, 0]
['A', 'B', 'C', 'D']
['D', 'C', 'B', 'A']

<h2><u> Mathematical Operations for List.</u></h2>

In [20]:
a=[1,2,3]
b=[4,5,6]
print(a+b)
print(a+[4])
# print(a+4) TypeError: can only concatenate list (not "int") to list
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

<h2><u> Comparison Operators for List.</u></h2>

In [25]:
x=["Dog","Cat","Rat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x==y)
print(x==z)
print(x!=z,"\n")

x=["Dog","Cat","Rat"]
y=["Rat","Cat","Dog"]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y,"\n")

x=[50,20,30]
y=[50,20,30,100,200]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

True
False
True

False
False
True
True

False
False
True
True

<h2><u> Membership Operators for List.</u></h2>

* in
*not in

In [28]:
n=[10,20,30,40]
print(10 in n)
print(40 not in n)
print(50 in n)

True
False
False

In [34]:
l1=[10,20,30,40,50]
X=l1
X[2]=100
print(l)

l2=[10,20,30,40,50]
Y=l2[:] #or l2.copy()
Y[2]=100
print(l2)

[10, 20, 100, 40, 50]
[10, 20, 30, 40, 50]

<h2><u> Nested List.</u></h2>

In [37]:
n=[10,20,30,[40,20],[60,70,80,[100,200]]]
print(n[0])
print(n[3])
print(n[3][0])
print(n[4][2])
print(n[4][3][1])

10
[40, 20]
40
80
200

<h2><u> Nested List as Matrix.</u></h2>

In [46]:
n=[[10,20,30],[40,50,60],[70,80,90]]

for i in n:
    for j in i:
        print(j,end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [67]:
# Original to Transpose

print("3X3 Matrix\n")    
n=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(n)):
    for j in range(len(n[i])):
            print(n[j][i],end=" ")
    print()
    
print("\n3X4 Matrix\n")    
n=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
for i in range(len(n[0])):
    for j in n:
        print(j[i],end=" ")
    print()

3X3 Matrix

1 4 7
2 5 8
3 6 9

3X4 Matrix

1 4 7 10
2 5 8 11
3 6 9 12

<h2><u> List Comphrehension.</u></h2>

In [60]:
# Syntax : l=[Expression for item in list if condition]
s=[x*x for x in range(1,11)]
print(s)

v=[2**x for x in range(1,6)]
print(v)

m=[x for x in s if x%2==1]
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[1, 9, 25, 49, 81]

<h2><u>TASK</u></h2>

WAP to Print Elements with frequency greater than a given value K.

In [76]:
l=eval(input("Enter List: "))
k=int(input("Enter k: "))
ans=[]

for i in l:
    count=l.count(i)
    if count>k and i not in ans:
        ans.append(i)
        
print(ans)

Enter List: [1,1,1,1,2,2,2,2,3,3,5,5,5,5,6,7]
Enter k: 2
[1, 2, 5]

<h2><u>Dictionary</u></h2>

* Represent a group of object as key-value pairs.
* Duplicate not allowed but values can be duplicated.
* Heterogeneous objects are allowed for both key & value.
* Insertion order is not preserved.
* Mutable
* Index and slicing concepts are not applicable.

In [100]:
d={}
print(type(d))
s=set()
print(type(s))

d[10]="Arman"
d[20]="Aryan"
d[30]="Lucky"
print(d)

d2=dict([(10,"Gopu"),(20,"Madhav"),(30,"Lucky")])
print(d2)
d2[40]="Laxman"
d2[10]="Gopal"
d2[50]="Vasuli bhai"
print(d2)
del d2[50]
print(d2)
d2.clear()
# del d2
# print(d2)

<class 'dict'>
<class 'set'>
{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
{10: 'Gopu', 20: 'Madhav', 30: 'Lucky'}
{10: 'Gopal', 20: 'Madhav', 30: 'Lucky', 40: 'Laxman', 50: 'Vasuli bhai'}
{10: 'Gopal', 20: 'Madhav', 30: 'Lucky', 40: 'Laxman'}

<h2><u>Dictionary Comphrehension. </u></h2>

In [104]:
square={x:x*x for x in range(1,6)}
print(square)
x=square.copy()
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

<h2><u> Important function of Dictionary.</u></h2>

<ol>
    <li> dict() </li>
    <li> len() </li>
    <li> clear() </li>
    <li> copy() </li>
    <li> update() </li>
    <li> get() </li>
    <li> popitem() </li>
    <li> keys() </li>
    <li> values() </li>
    <li> items() </li>
    <li> setdefault() </li>
    </ol>

In [107]:
# UPDATE

d={10:20,30:40,50:60}
print(d)
x={10:100,200:40,30:600}
d.update(x)
print(d)

{10: 20, 30: 40, 50: 60}
{10: 100, 30: 600, 50: 60, 200: 40}

In [111]:
# GET

d={10:"Arman",20:"Aryan",30:"Lucky"}
print(d)
print(d[10])
print(d.get(10))
print(d.get(40))
print(d.get(10,"Guest"))
print(d.get(40,"Guest"))

{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
Arman
Arman
None
Arman
Guest

In [115]:
# POPITEM

d={10:"Arman",20:"Aryan",30:"Lucky"}
print(d)
print(d.popitem()) #In form of Tupple
print(d) #Key Error if d is empty

{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
(30, 'Lucky')
{10: 'Arman', 20: 'Aryan'}

In [119]:
#  KeYS ,VALUES ,ITEMS

d={10:"Arman",20:"Aryan",30:"Lucky"}
print(d.keys())
print(d.values())
print(d.items())

for k,v in d.items():
    print(k,"-->",v)

dict_keys([10, 20, 30])
dict_values(['Arman', 'Aryan', 'Lucky'])
dict_items([(10, 'Arman'), (20, 'Aryan'), (30, 'Lucky')])
10 --> Arman
20 --> Aryan
30 --> Lucky

In [121]:
d={10:"Arman",20:"Aryan",30:"Lucky"}
print(d.setdefault(40,"Pavan"))
print(d)
print(d.setdefault(10,"Sachin"))
print(d)

Pavan
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Pavan'}
Arman
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Pavan'}

In [124]:
# WAP that reads the words from paragraph and stores them as keys in dictionary and counts the frequency of it as value

s="Dog the quick brown fox jumps over the lazy Dog"
t=s.split()
d={}
for i in t:
    d[i]=t.count(i)
print(d)

{'Dog': 2, 'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1}