# Unit-5️⃣ Mutable data structure

### list

* List is dynamic because based on our requirement we can increase or decrease the size
* square brackets with comma separation

### Creation of list

* l=[]
* l=[1,2,3,4]
* l=eval(input("Enter list: "))

In [5]:
l=eval(input("Enter list: "))
print(l)

l=eval(input("Enter tuple: "))
print(l)

l=eval(input("Enter set: "))
print(l)

Enter list: 1,2,3,4,5
(1, 2, 3, 4, 5)
Enter tuple: [1,2,3,4,5]
[1, 2, 3, 4, 5]
Enter set: {1,2,3,4,5}
{1, 2, 3, 4, 5}

<h2><u> Important function of List.</u></h2>

<h3>1. len()

In [6]:
n=[1,2,3,4]
print(len(n))

4

<h3>2. count()

n=[1,2,2,3,3,3]
print(n.count(2))
print(n.count(4))

<h3>3. index()

In [10]:
n=[1,2,2,3,3,3]
print(n.index(1))
print(n.index(3))
# print(n.index(5)) ValueError: 5 is not in list

0
3

<h3>4. append()

In [13]:
l=["M","N"]
l.append("A")
l.append("B")
l.append("C")
print(l)

['M', 'N', 'A', 'B', 'C']

<h3>5. insert()

In [26]:
l=[1,2,3,4,5]
l.insert(1,28)
l.insert(10,5) # value >len(l) then it will work as append
l.insert(-1,25) #-1 will append at second last index
print(l)

l=["M","N"]
l.insert(0,"A")
l.insert(15,"B")
l.insert(-1,"C") #-1 will append at second last index
print(l)

[1, 28, 2, 3, 4, 5, 25, 5]
['A', 'M', 'N', 'C', 'B']

<h3>6. extend()

In [29]:
l1=["Apple","Mango"]
l2=["Orange","watermelon"]

l1.extend(l2)
l2.extend(l1)
print(l1)
print(l2)

['Apple', 'Mango', 'Orange', 'watermelon']
['Orange', 'watermelon', 'Apple', 'Mango', 'Orange', 'watermelon']

<h3>7. remove()

In [32]:
n=[1,2,1,3,1,1]
n.remove(1)
print(n)

# n.remove(4)
# print(n) ValueError: list.remove(x): x not in list

[2, 1, 3, 1, 1]

<h3>8. pop()

In [6]:
n=[10,20,30,40,50]
print(n.pop())
print(n.pop())
print(n)

y=[]
# print(y.pop())IndexError: pop from empty list

n=[10,20,30,40,50]
print(n.pop())
print(n.pop(1))
print(n)
# print(n.pop(10)) IndexError: pop index out of range

50
40
[10, 20, 30]
50
20
[10, 30, 40]

<h3>9. clear()

In [8]:
n=[10,20,30,40,50]
n.clear()
print(n)

[]

<h3>10. sort()

In [17]:
n=[2,5,1,15,0]
n.sort()
print(n)

n=["D","A","B","C"]
n.sort()
print(n)

# n=[12,20,50,"D","A","B","C"] TypeError: '<' not supported between instances of 'int' and 'str'
# n.sort()
# print(n)

[0, 1, 2, 5, 15]
['A', 'B', 'C', 'D']

<h3>11. reverse()

In [13]:
n=[2,5,1,15,0]
n.sort()
print(n)
n.sort(reverse=True)
print(n)

n=["D","A","B","C"]
n.sort()
print(n)
n.sort(reverse=True)
print(n)

# n=[12,20,50,"D","A","B","C"] TypeError: '<' not supported between instances of 'int' and 'str'
# n.sort(reverse=True)
# print(n)

[0, 1, 2, 5, 15]
[15, 5, 2, 1, 0]
['A', 'B', 'C', 'D']
['D', 'C', 'B', 'A']

<h2><u> Mathematical Operations for List.</u></h2>

In [20]:
a=[1,2,3]
b=[4,5,6]
print(a+b)
print(a+[4])
# print(a+4) TypeError: can only concatenate list (not "int") to list
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

<h2><u> Comparison Operators for List.</u></h2>

In [25]:
x=["Dog","Cat","Rat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x==y)
print(x==z)
print(x!=z,"\n")

x=["Dog","Cat","Rat"]
y=["Rat","Cat","Dog"]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y,"\n")

x=[50,20,30]
y=[50,20,30,100,200]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

True
False
True

False
False
True
True

False
False
True
True

<h2><u> Membership Operators for List.</u></h2>

* in
*not in

In [28]:
n=[10,20,30,40]
print(10 in n)
print(40 not in n)
print(50 in n)

True
False
False

In [34]:
l1=[10,20,30,40,50]
X=l1
X[2]=100
print(l)

l2=[10,20,30,40,50]
Y=l2[:] #or l2.copy()
Y[2]=100
print(l2)

[10, 20, 100, 40, 50]
[10, 20, 30, 40, 50]

<h2><u> Nested List.</u></h2>

In [37]:
n=[10,20,30,[40,20],[60,70,80,[100,200]]]
print(n[0])
print(n[3])
print(n[3][0])
print(n[4][2])
print(n[4][3][1])

10
[40, 20]
40
80
200

<h2><u> Nested List as Matrix.</u></h2>

In [46]:
n=[[10,20,30],[40,50,60],[70,80,90]]

for i in n:
    for j in i:
        print(j,end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [67]:
# Original to Transpose

print("3X3 Matrix\n")    
n=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(n)):
    for j in range(len(n[i])):
            print(n[j][i],end=" ")
    print()
    
print("\n3X4 Matrix\n")    
n=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
for i in range(len(n[0])):
    for j in n:
        print(j[i],end=" ")
    print()

3X3 Matrix

1 4 7
2 5 8
3 6 9

3X4 Matrix

1 4 7 10
2 5 8 11
3 6 9 12

<h2><u> List Comphrehension.</u></h2>

In [60]:
# Syntax : l=[Expression for item in list if condition]
s=[x*x for x in range(1,11)]
print(s)

v=[2**x for x in range(1,6)]
print(v)

m=[x for x in s if x%2==1]
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[1, 9, 25, 49, 81]

<h2><u>TASK</u></h2>

WAP to Print Elements with frequency greater than a given value K.

In [76]:
l=eval(input("Enter List: "))
k=int(input("Enter k: "))
ans=[]

for i in l:
    count=l.count(i)
    if count>k and i not in ans:
        ans.append(i)
        
print(ans)

Enter List: [1,1,1,1,2,2,2,2,3,3,5,5,5,5,6,7]
Enter k: 2
[1, 2, 5]

<h2><u>Dictionary</u></h2>

* Represent a group of object as key-value pairs.
* Duplicate not allowed but values can be duplicated.
* Heterogeneous objects are allowed for both key & value.
* Insertion order is not preserved.
* Mutable
* Index and slicing concepts are not applicable.

In [100]:
d={}
print(type(d))
s=set()
print(type(s))

d[10]="Arman"
d[20]="Aryan"
d[30]="Lucky"
print(d)

d2=dict([(10,"Gopu"),(20,"Madhav"),(30,"Lucky")])
print(d2)
d2[40]="Laxman"
d2[10]="Gopal"
d2[50]="Vasuli bhai"
print(d2)
del d2[50]
print(d2)
d2.clear()
# del d2
# print(d2)

<class 'dict'>
<class 'set'>
{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
{10: 'Gopu', 20: 'Madhav', 30: 'Lucky'}
{10: 'Gopal', 20: 'Madhav', 30: 'Lucky', 40: 'Laxman', 50: 'Vasuli bhai'}
{10: 'Gopal', 20: 'Madhav', 30: 'Lucky', 40: 'Laxman'}

<h2><u>Dictionary Comphrehension. </u></h2>

In [104]:
square={x:x*x for x in range(1,6)}
print(square)
x=square.copy()
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

<h2><u> Important function of Dictionary.</u></h2>

<ol>
    <li> dict() </li>
    <li> len() </li>
    <li> clear() </li>
    <li> copy() </li>
    <li> update() </li>
    <li> get() </li>
    <li> popitem() </li>
    <li> keys() </li>
    <li> values() </li>
    <li> items() </li>
    <li> setdefault() </li>
    </ol>

In [107]:
# UPDATE

d={10:20,30:40,50:60}
print(d)
x={10:100,200:40,30:600}
d.update(x)
print(d)

{10: 20, 30: 40, 50: 60}
{10: 100, 30: 600, 50: 60, 200: 40}

In [111]:
# GET

d={10:"Arman",20:"Aryan",30:"Lucky"}
print(d)
print(d[10])
print(d.get(10))
print(d.get(40))
print(d.get(10,"Guest"))
print(d.get(40,"Guest"))

{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
Arman
Arman
None
Arman
Guest

In [115]:
# POPITEM

d={10:"Arman",20:"Aryan",30:"Lucky"}
print(d)
print(d.popitem()) #In form of Tupple
print(d) #Key Error if d is empty

{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
(30, 'Lucky')
{10: 'Arman', 20: 'Aryan'}

In [119]:
#  KeYS ,VALUES ,ITEMS

d={10:"Arman",20:"Aryan",30:"Lucky"}
print(d.keys())
print(d.values())
print(d.items())

for k,v in d.items():
    print(k,"-->",v)

dict_keys([10, 20, 30])
dict_values(['Arman', 'Aryan', 'Lucky'])
dict_items([(10, 'Arman'), (20, 'Aryan'), (30, 'Lucky')])
10 --> Arman
20 --> Aryan
30 --> Lucky

In [121]:
d={10:"Arman",20:"Aryan",30:"Lucky"}
print(d.setdefault(40,"Pavan"))
print(d)
print(d.setdefault(10,"Sachin"))
print(d)

Pavan
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Pavan'}
Arman
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'Pavan'}

In [124]:
# WAP that reads the words from paragraph and stores them as keys in dictionary and counts the frequency of it as value

s="Dog the quick brown fox jumps over the lazy Dog"
t=s.split()
d={}
for i in t:
    d[i]=t.count(i)
print(d)

{'Dog': 2, 'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1}

In [1]:
# WAP to create a dictionary with the key as first character and values as list of words starting with that character.

s="Dont't wait for your feelings to change to take action."
words=s.split()
# words.sort()
d={}
# print(t)

for word in words:
    key=word[0]
    if key in d: #here d==d.keys()
        d[key].append(word)
    else:
        d[key]=[word]
print(d)

{'D': ["Dont't"], 'w': ['wait'], 'f': ['for', 'feelings'], 'y': ['your'], 't': ['to', 'to', 'take'], 'c': ['change'], 'a': ['action.']}

<h2><u>Set</u></h2>

* Represent a group of unique values as a single entity.
* Duplicates are not allowed.
* Insertion order is not preserved.
* Indexing and slicing not allowed.
* Heterogeneous elements allowed.
* Mutable.
* Curly braces with comma.
* Mathematical operations like Union,intersection,difference,etc.

In [43]:
s={100,1,2,3,3,4,4,4,1,2,5,5,6}
print(s)
print(type(s))

s={20,25,1,4,4,7,8,10,10,22,24,26,28}
print(s)
print(type(s))

{1, 2, 3, 100, 4, 5, 6}
<class 'set'>
{1, 4, 7, 8, 10, 20, 22, 24, 25, 26, 28}
<class 'set'>

In [49]:
s=set()
l=[1,3,6,4,5,2]
s=set(l)
print(s)

X="LJIET"
s=set(X)
print(s)

y=range(1,6)
s=set(y)
print(s)

l=[10,20,30,40,10,20,30]
print(set(l))

{1, 2, 3, 4, 5, 6}
{'E', 'I', 'J', 'T', 'L'}
{1, 2, 3, 4, 5}
{40, 10, 20, 30}

<h2><u> Mathematical Operations for Set.</u></h2>

In [52]:
# 1. UNION

X={10,20,30,40}
Y={30,40,50,60}
print(X.union(Y))
print(X|Y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [53]:
# 2. INTERSECTION

X={10,20,30,40}
Y={30,40,50,60}
print(X.intersection(Y))
print(X&Y)

{40, 30}
{40, 30}

In [56]:
# 3. DIFFERENCE

X={10,20,30,40}
Y={30,40,50,60}
print(X.difference(Y))
print(X-Y)
print(Y.difference(X))
print(Y-X)

{10, 20}
{10, 20}
{50, 60}
{50, 60}

In [59]:
# 4. SYMMETRIC_DIFFERENCE

X={10,20,30,40}
Y={30,40,50,60}
print(X.symmetric_difference(Y))
print(X^Y)
print(Y.symmetric_difference(X))

{10, 50, 20, 60}
{10, 50, 20, 60}
{10, 50, 20, 60}

In [63]:
# 5. ISSUBSET()

X={"a","b","c"}
Y={"F","e","d","c","b","a"}
print(X.issubset(Y))
print(Y.issubset(X))

True
False

In [62]:
# 5. ISSUPERSET()

X={"a","b","c"}
Y={"F","e","d","c","b","a"}
print(X.issuperset(Y))
print(Y.issuperset(X))

False
True

<h2><u> Membership Operators for Set.</u></h2>

<ol>
<li>in</li>
<li>not in</li>
</ol>

In [64]:
s=set("LJIET")
print(s)
print("L" in s)
print("T" not in s)
print("X" in s)

{'E', 'I', 'J', 'T', 'L'}
True
False
False

<h2><u> Important function of Set.</u></h2>

<ol>
    <li> add() </li>
    <li> update() </li>
    <li> copy() </li>
    <li> pop() </li>
    <li> remove() </li>
    <li> discard() </li>
    <li> clear() </li>
       </ol>

In [66]:
# ADD

s={10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

In [67]:
# UPDATE

s={10,20,30}
l=[40,50,60,70]
s.update(l,range(10,20,2),range(1,6))
print(s)

{1, 2, 3, 4, 5, 70, 40, 10, 12, 14, 16, 50, 18, 20, 60, 30}

In [68]:
# COPY

s={10,20,30,40}
x=s.copy()
x.add(70)
print(s)
print(x)

{40, 10, 20, 30}
{70, 40, 10, 20, 30}

In [72]:
# POP

s={40,30,20,10,50}
print(s)
print(s.pop())
print(s)

{40, 10, 50, 20, 30}
40
{10, 50, 20, 30}

In [75]:
#  REMOVE

s={10,20,30,40,50}
s.remove(30)
print(s)
# s.remove(60) KeyError: 60

{40, 10, 50, 20}
{40, 10, 50, 20}

In [78]:
#  DISCARD

s={10,20,30,40,50}
s.discard(30)
print(s)
s.discard(60)

{40, 10, 50, 20}

In [79]:
# CLEAR

s={10,20,30,40,50}
s.clear()
print(s)

set()

<h2><u>Set Comphrehension. </u></h2>

In [81]:
s={x*x for x in range(1,11)}
print(s)
s={2**x for x in range(1,6)}
print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{32, 2, 4, 8, 16}

<h2><u>Frozen set. </u></h2>

In [94]:
x=["Apple","Banana","Cherry"]
s=set(x)
s.add("Pineaple")
print(s)

f=frozenset(x)
# f.add("Pineaple") IMMUTABLE
print(f)

{'Apple', 'Cherry', 'Banana', 'Pineaple'}
frozenset({'Apple', 'Cherry', 'Banana'})

In [106]:
# WAP to find the index at which the elements of two list dose not match.

x=eval(input("Enter x: "))
y=eval(input("Enter y: "))
l=[]

if len(x)==len(y):
    for i in range(len(x)):
        if x[i]!=y[i]:
            l.append(i)
print(l)

Enter x:  [1,2,3,4,6,7,8]
Enter y: [1,5,3,6,4,7,3]
[1, 3, 4, 6]

In [111]:
# WAP to replace words from dictionary given a string replace its words from look up dictionary.
s="CampusX is best for DS Students"
d={"best":"the best channel" , "DS":"Data Science" }
l=s.split()

for i in l:
        if i in d:
            s=s.replace(i,d.get(i))
print(s)

CampusX is the best channel for Data Science Students

<h2><u>Lambda Function. </u></h2>

* Function without any name
* nameless function,anonymous function, lambda function

<b>Normal Function</b>

def square(n):

    return n*n
 
print(square(5))
<br>
<br>
<b>Lambda Function</b>

s=lambda n:n*n

print(s(4))

In [3]:
def square(n):
    return n*n
print(square(5))


s=lambda n:n*n

print(s(4))

25
16

In [4]:
# lambda function to find sum of two number

def Sum(a,b):
    return a+b
print(Sum(10,20))

s=lambda a,b:a+b
print(s(10,20))

30
30

<h3>1.map()</h3>

* for every element present in given sequence,apply some functionality and generate new element with required modification.
* Synatax: <b>map(function,sequence)</b>

In [28]:
# Example

l=[1,2,3,4,5]
def double(x):
    return 2*x
l1=list(map(double,l))
print(l1)

l=[1,2,3,4,5]
l1=list(map(lambda x:x**2,l))
print(l1)

l1=[1,2,3]
l2=[3,4,5,6]
l5=[]
l3=list(map(lambda x,y,z:x+y,l1,l2,l5))
print(l3)

[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25]
[]

<h3>2.reduce()</h3>

* reduces the sequence of elements into a single element by applying the specified function.
* Syntax: reduce(function,sequence)
* present in module to use the reduce() function.

* Note: from functools import *

In [34]:
from functools import *

l1=[1,2,3,4,5,6,7,8,9,10]
sum=reduce(lambda x,y:x+y,l1)
print(sum)
mul=reduce(lambda x,y:x*y,l1)
print(mul)

55
3628800

<h3>3.filter()</h3>

* filter values from given sequence based on same condition.
* function argument is responsible to check condition.

In [46]:
def isEven(x):
    if x%2==0:
        return True
    else:
        return False
l=[0,1,2,3,4,5,6,7,8,9,10]
l1=list(filter(isEven,l))
print(l1)

[0, 2, 4, 6, 8, 10]

In [49]:
words=["apple","banana","chery"]
l=list(map(str.upper,words))
print(l)

['APPLE', 'BANANA', 'CHERY']

In [52]:
words=["apple","banana","cherry","date","kiwi","orange"]
l1=list(filter(lambda x:len(x)>5,words))
print(l1)

['banana', 'cherry', 'orange']

In [57]:
l1=[10,1,25,36,16]
l2=[0,25,63,45,5]
min=list(map(lambda x,y:x if x<y else y,l1,l2))
# print(min(101*99,102*98))
print(min)

min=lambda x,y:x if x<y else y
print(min(101*99,102*98))

[0, 1, 25, 36, 5]
9996

In [61]:
# WAP to find number divisible by 19 or 13 from a list of numbers using lambda func.
l=[19,38,13,26,5,6,4,7]
l1=list(filter(lambda x:x%19==0 or x%13==0,l))
print(l1)

[19, 38, 13, 26]

In [71]:
a=["apple","kiwi","cherry","Pineapple"]
l2=sorted(a,key=len)
print(l2)

def fun(word):
    return word[-1]
l=sorted(a,key=fun)
print(l)

l1=sorted(a,key=lambda word:word[-1])
print(l1)

['kiwi', 'apple', 'cherry', 'Pineapple']
['apple', 'Pineapple', 'kiwi', 'cherry']
['apple', 'Pineapple', 'kiwi', 'cherry']

In [76]:
l=[(1,5),(2,3),(3,8),(4,1)]
a=sorted(l,key=lambda x: x[1])
print(a)

# NOTE: 
# SORT() IS ONLY APPLICABLE TO LIST BUT SORTED IS APPLICABLE TO TUPLE,STR,LIST.

[(4, 1), (2, 3), (1, 5), (3, 8)]

In [83]:
t="apple#banana#cherry#orange"
x=t.split("#",1) 
print(x)
y=t.split("#",2)
print(y)
z=t.split("#",3)
print(z)

['apple', 'banana#cherry#orange']
['apple', 'banana', 'cherry#orange']
['apple', 'banana', 'cherry', 'orange']

In [117]:
# Given list l of size n ,you need to count the numbers of special elements in the list and
# element is special removal of that element make the list balanced the list will be balanced 
# if sum of even index element is equal to sum of te odd index element.
# Also print the list after removal of special element

# l1=[5,5,2,5,8]
l1=[2,1,6,4]
for i in range(0,len(l1)):
    check=l1.copy()
    check.pop(i)
    oddsum=0
    evensum=0
    for j in range(0,len(check)):
        if j%2==0:
            evensum=evensum+check[j]
        else:
            oddsum=oddsum+check[j]
    if evensum==oddsum:
        print("index to be removed: ",i)
        print("list after removal of index",i," is :",check)
        break

index to be removed:  1
list after rremoval of index 1  is : [2, 6, 4]