# Unit-4️⃣ Immutable data Structure

<h2><u> Accessing characters of String.</u></h2>

<ol>
    <li> By Using index.</li>
    <li> By slicing Operator.</li>
</ol>

In [3]:
#By using index

a="LJ University"
print(a[3])
print(a[-1])
print(a[-5])
# print(a[20]) index Out of range

U
y
r

In [24]:
# By slicing Operator.

# Syntax: s[begin index: end index : step]

s="Learning Python is very easy."
print(s[1:7:1])
print(s[1:7:2])
print(s[7:1:-1])
print(s[1:7])
print(s[:7])
print(s[9:])
print(s[9:100])
print(s[:])
print(s[::])
print(s[::-1]) #Reverse String
print(s[-1:-4])
print(s[-1:-4:-1])

earnin
eri
gninra
earnin
Learnin
Python is very easy.
Python is very easy.
Learning Python is very easy.
Learning Python is very easy.
.ysae yrev si nohtyP gninraeL

.ys

<h2><u> Mathematical operators for String.</u></h2>

<p>
+  --> Concatenation
    <br>
*  --> Repitation or string multiplication
    </p>

In [26]:
print("Arman "+"Dhairya")
print("lucky "*3)

Arman Dhairya
lucky lucky lucky

<h2><u> Comparison of String.</u></h2>

In [33]:
s1=input("Enter First String: ")
s2=input("Enter Second String: ")
if s1==s2:
    print("Both String are same")
elif s1<s2:
    print("Second String is Greater")
else:
    print("First string is Greater")

Enter First String: ABC
Enter Second String: ABc
Second String is Greater

<h2><u> Joining of String.</u></h2>

* Syntax: s=separator.join(group of String)

In [44]:
t=("Apple","Banana","Cherry")
s1="-".join(t)
s2="".join(t)
print(s1)
print(s2)

Apple-Banana-Cherry
AppleBananaCherry

<h2><u> Formatting of String.</u></h2>

In [47]:
name="Arman"
salary=50000
age=25

print("{}'s salary is {} and age is {}".format(name,salary,age))
print("{1}'s salary is {0} and age is {2}".format(salary,name,age))

Arman's salary is 50000 and age is 25
Arman's salary is 50000 and age is 25

<h2><u> Important function of String.</u></h2>

<h3>1. calculate length of string

In [48]:
a="LJIET"
print(len(a))

5

<h3>2. Removing spces from string

In [56]:
#   1. rstrip()
#     Removes from right end.

t="banana  "
x=t.rstrip()
print(t,"is a fruit")
print(x,"is a fruit")
print(len(t))
print(len(x))

z=t.rstrip("a")
y=x.rstrip("a")
p=x.rstrip("an")
q="Bandana".rstrip("an")
print(z)
print(y)
print(p)
print(q)

banana   is a fruit
banana is a fruit
8
6
banana
banan
b
Band

In [58]:
# 2. lstrip()
#     Removes from left end.

t="  banana"
x=t.lstrip()
print(t,"is a fruit")
print(x,"is a fruit")
print(len(t))
print(len(x))

  banana is a fruit
banana is a fruit
8
6

In [61]:
# 3. strip()
#     Removes from both end.

t="  banana  "
x=t.strip()
print(t,"is a fruit")
print(x,"is a fruit")
print(len(t))
print(len(x))

  banana   is a fruit
banana is a fruit
10
6

<h3>3. Changing the case of string

In [63]:
# 1. upper()

s="Hello friends"
x=s.upper()
print(x)

HELLO FRIENDS

In [65]:
# 2. lower()

s="Hello friends"
x=s.lower()
print(x)

hello friends

In [67]:
# 3. swapcase()

s="Hello Friends"
x=s.swapcase()
print(x)

hELLO fRIENDS

In [75]:
# 4. title()

s="hello how are you?"
x=s.title()
print(x)

Hello How Are You?

In [71]:
# 4. Capitalize()

s="hello how are you?"
x=s.capitalize()
print(x)

Hello how are you?

<h3>4. To check type of characters in a string (check function) Answer only in True or False.

In [82]:
# 1. isalnum()    (a-Z,A-Z,0-9)

t="company123"
x=t.isalnum()
print(x)
print("company".isalnum())
print(" company ".isalnum())

True
True
False

In [83]:
# 2. isalpha()    (a-Z,A-Z)

t="company123"
x=t.isalpha()
print(x)
print("company".isalpha())
print(" company ".isalpha())

False
True
False

In [90]:
# 3. isdigit()    (digits,superscript,subscript)
# or  isnumeric()  (digits,superscript,subscript,Roman,etc)

t="company123"
x=t.isdigit()
print(x)
print("123".isdigit())
print("123".isnumeric())
print(" 123 ".isdigit())

False
True
True
False

In [93]:
# 4. islower()

print("hello world ".islower())
print("hello World".islower())

True
False

In [96]:
# 5. isupper()

print("HELLO WOLRD ".isupper())
print("hello World".isupper())

True
False

In [103]:
# 6. istitle()

print("HELLO WOLRD ".istitle())
print("Hello World".istitle())
print("22 Names".istitle())
print("This Is %$".istitle())
# it only checks first letter of the word

False
True
True
True

In [104]:
# 7.isidentifier()
#     Checks identifier rules

print("MyDemo".isidentifier())
print("Demo20".isidentifier())
print("2Demo".isidentifier())
print("My Demo".isidentifier())

True
True
False
False

In [107]:
# 8. isspace()

print(" ".isspace())
print(" f ".isspace())

True
False

In [111]:
a="Pyt@h$%on is 124 Very Ea$sy43"
alpha=0
upper=0
lower=0
digit=0
space=0
specialchar=0
word=1

for i in a:
    if i.isalpha():
        alpha=alpha+1
        if i.isupper():
            upper=upper+1
        else:
            lower=lower+1
    elif i.isdigit():
        digit=digit+1
    elif i.isspace():
        space=space+1
        word=word+1
    else:
        specialchar=specialchar+1
print(alpha)
print(upper)
print(lower)
print(digit)
print(space)
print(specialchar)
print(word)

16
3
13
5
4
4
5

<h3>5. Find()

In [144]:
# Syntax:   s.find(Substring)
#           s.find(Substring,begin,end)

s="Learning Python is very easy."
print(s.find("a"))
print(s.find("a",3))
print(s.find("a",3,50))
# print(s.find("a",,50)) invalid
print(s.find("d"))
print(s.find("Python"))
# print(s.find("Python",-1,-100))

2
25
25
-1
9

<h3>6. count()

In [9]:
s="Learning Python is very easy."

print(s.count("a"))
print(s.count("ar"))
print(s.count("an"))

2
1
0

<h3>7. replace()

In [11]:
#Syntax: s.replace(want to change with,want to change)

print("Learning Java is very easy.".replace("Java","Python"))

Learning Python is very easy.

<h3>8. Split()

In [23]:
#Syntax: s.split(Separator)

print("LJ University".split())
print("LJ University".split("i"))
print("LJ University".split("z"))
print("11-11-2024".split("-"))
print("11-11-2024".split("4"))

['LJ', 'University']
['LJ Un', 'vers', 'ty']
['LJ University']
['11', '11', '2024']
['11-11-202', '']

<h3>9.Remove Punctuation using translate() function.

* translate() with maketrans function
<p>
maketrans --> Static method on str type
    
          --> 3 Arguments version
    
          --> First two equal length.
    
          --> Third argument has each special characters in string mapped to none</p>

In [45]:
import string
print(len(string.punctuation))
print(string.punctuation)
print(str.maketrans('a','b',string.punctuation))

32
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
{97: 98, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

In [63]:
import string

t="Pyt@$hon is Very$ easy!!"
x=str.maketrans("","",string.punctuation)
print(x)
t=t.translate(x)
print(t)
t="Pyt@$hon is Very$ easy!!"
y=str.maketrans("P","p","@$")
print(y)
t=t.translate(y)
print(t)

{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}
Python is Very easy
{80: 112, 64: None, 36: None}
python is Very easy!!

In [65]:
t="hi Sam"
x="mSa"
y="eJo"
table=t.maketrans(x,y)
print(t.translate(table))

hi Joe

<h2><u> Tuple</u></h2>

<ul>
    <li>Same as list except it is immutable</li>
    <li>Ready only version of list</li>
    <li>Data is fixed and never changes then we should go for tuple</li>
    <li>Insertion order is preserved</li>
    <li>Duplicates are allowed</li>
    <li>Heterogeneous objects are allowed.</li>
    <li>Index will play important role in tuple</li>
    <li>Supports both +ve and -ve index</li>
    <li>Represents with () parenthesis with comma separator</li>
</ul>

<h5><b>Creation of tuple</b>

In [74]:
t=()
t=(10)
print(type(t))
t=(10,)
print(type(t))
t=tuple(range(10,20,2))
print(type(t))
print(t)

<class 'int'>
<class 'tuple'>
<class 'tuple'>
(10, 12, 14, 16, 18)

<h5><b>Accessing elements of tuple</b>

In [77]:
# 1. By using Index:  

t=(10,20,30,40,50,60)
print(t[2])
print(t[-1])
print(t[-5])
# print(t[10]) IndexError: tuple index out of range

30
60
20

In [80]:
# 2. By using Slicing Operator:  

t=(10,20,30,40,50,60)
print(t[2:5])
print(t[3:100])
print(t[::2])
print(t[-1:-4:])
print(t[-1:-4:-1])

(30, 40, 50)
(40, 50, 60)
(10, 30, 50)
()
(60, 50, 40)

<h5><b>Immutability of tuple</b>

In [82]:
t=(10,20,30,40)
t[2]=70
print(t)

TypeError: 'tuple' object does not support item assignment

<h5><b>Mathematical operators for tuple</b>

+ --> Concatenation
* --> Repitation or string multiplication

In [90]:
#  Concatenation
t1=(10,20,30)
t2=(40,50,60)
t=t1+t2
print(t)

#  Repitation or string multiplication
t1=(10,20,30)
t=t1*2
print(t)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30)

<h2><u> Important function of Tuple.</u></h2>

<h3>1. len()

In [92]:
t=(10,20,30)
print(len(t))

3

<h3>2. Count()

In [91]:
t=(10,20,30,10,20,40)
print(t.count(10))
print(t.count(40))
print(t.count(50))

2
1
0

<h3>3. index()

In [94]:
t=(10,20,10,10,20)
print(t.index(10))
# print(t.index(30)) ValueError: tuple.index(x): x not in tuple

0

<h3>4. Sorted()

In [98]:
t=(40,10,30,20)
t1=sorted(t)
print(t1) #output in list
print(tuple(t1)) #Typecasting

#Reverse order
t1=sorted(t,reverse=True)
print(t1)

[10, 20, 30, 40]
(10, 20, 30, 40)
[40, 30, 20, 10]

<h3>5. min()

In [105]:
t=(10,30,20,60,70,40)
print(min(t))

t=("abc","ABC","def","dxz")
print(min(t))

t=("abc",4,"dxz",100)
# print(min(t)) TypeError: '<' not supported between instances of 'int' and 'str'

10
ABC

<h3>6. max()

In [104]:
t=(10,30,20,60,70,40)
print(max(t))
t=("abc","ABC","def","dxz")
print(max(t))

t=(10,50,"def","dxz")
# print(max(t))TypeError: '<' not supported between instances of 'int' and 'str'

70
dxz

<h5><b>Tuple Packing</b>

In [107]:
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

<h5><b>Tuple Unpacking</b>

In [111]:
t=(10,20,30,40)
a,b,c,d=t
print(a,b,c,d)

# t=(10,20,30,40)
# a,b,c=t
# print(a,b,c)
# ValueError: too many values to unpack (expected 3)

10 20 30 40

<h5><b>Loop through tuple</b>

In [2]:
t=("apple","banana","Cherry")
for i in t:
    print(i)
    
for i in range(len(t)):
    print(t[i])

i=0
while i<len(t):
    print(t[i])
    i=i+1

apple
banana
Cherry
apple
banana
Cherry
apple
banana
Cherry

<h5><b>Reverse()</b>

* method computes reverse of given sequence object return in the form of list.

In [5]:
s="Python"
print(list(reversed(s)))
x=("p","y","t","h","o","n")
print(list(reversed(x)))
y=range(5,9)
print(list(reversed(y)))
z=[1,2,5,3,4]
print(list(reversed(z)))

['n', 'o', 'h', 't', 'y', 'P']
['n', 'o', 'h', 't', 'y', 'p']
[8, 7, 6, 5]
[4, 3, 5, 2, 1]

<h5><b>enumerate()</b>

In [8]:
l1=("eat","sleep","walk")
print(enumerate(l1))
print(list(enumerate(l1)))
print(list(enumerate(l1,10)))

<enumerate object at 0x000002215D566EC0>
[(0, 'eat'), (1, 'sleep'), (2, 'walk')]
[(10, 'eat'), (11, 'sleep'), (12, 'walk')]

In [9]:
l1="eat"
print(list(enumerate(l1)))
print(list(enumerate(l1,10)))

<enumerate object at 0x000002215D565540>
[(0, 'e'), (1, 'a'), (2, 't')]
[(10, 'e'), (11, 'a'), (12, 't')]

In [16]:
s="Hello?"
for a in enumerate(s):
    print(a,"-->",b)
    
for a,b in enumerate(s):
    print(a,"-->",b)
    
for a,b in enumerate(s,10):
    print(a,"-->",b)

(0, 'H') --> ?
(1, 'e') --> ?
(2, 'l') --> ?
(3, 'l') --> ?
(4, 'o') --> ?
(5, '?') --> ?
0 --> H
1 --> e
2 --> l
3 --> l
4 --> o
5 --> ?
10 --> H
11 --> e
12 --> l
13 --> l
14 --> o
15 --> ?